# ==============================
# Python та Кеш
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.so

# ==============================
# Віртуальне середовище
# ==============================
venv/
env/
ENV/
.venv/

# ==============================
# База даних
# ==============================
# Ніколи не заливайте локальну базу даних у загальний репозиторій!
db.sqlite3
db.sqlite3-journal

# ==============================
# Медіа та Статичні файли (Django)
# ==============================
# Картинки користувачів (постери тощо) не мають бути в коді
media/
# Зібрана статика (якщо будете робити collectstatic)
staticfiles/

# ==============================
# Секрети та Налаштування
# ==============================
.env
local_settings.py

# ==============================
# Системні файли та IDE
# ==============================
.DS_Store
.vscode/
.idea/
*.swp